pytest>=4.6.11
responses>=0.12.1
pytest-cov>=2.10.1
flake8>=3.8.4, <= 4.0.1
mock>=3.0.5
urllib3<2.0
pyotp>=2.9.0
service_identity>=24.1.0
mthrottle>=0.0.2
requests>=2.32.3
six>=1.16.0
pyOpenSSL>=24.2.1
python-dateutil>=2.9.0.post0
autobahn[twisted]>=24.4.2
websockets>=14.0